<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Logo and Brand Name -->
        <a class="navbar-brand" href="index.html">
            <img src="Assets/images/logo.png" alt="Logo" style="height: 40px; margin-right: 10px;">
            My Website
        </a>
        <!-- Toggler for Small Screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto"> <!-- Right-aligned -->
                <li class="nav-item">
                    <a class="nav-link" href="./pages/form.html">Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./pages/locatres.html">Locatres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./pages/MCQ.html">MCQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./pages/waits.html">Waits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./pages/topics.html">Topics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./pages/cheatcode.html">Cheatcode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./pages/About.html">About</a>
                </li>
            </ul>
        </div>
    </div>
</header>
