:root {
    /* Colors */
    --primary-color: #00D6FD;
    --secondary-color: #001A4B;
    --success-color: #3CFF70;
    --accent-color: #04F3CC;
    --highlight-color: #8BF934;
    --text-light: #FFFFFF;
    --text-dark: #001A4B;

    /* Fonts */
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    /* Spacing */
    --padding: 20px;
    --border-radius: 5px;
}

header {
    background-color: var(--secondary-color);
    color: var(--text-light);
    padding: var(--padding);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: var(--primary-font);
}
header a {
    color: var(--primary-color);
    text-decoration: none;
}
header a:hover {
    color: var(--success-color);
    text-decoration: underline;
}
.welcome-section {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding: 50px var(--padding);
    text-align: center;
    border-bottom: 5px solid var(--success-color);
    font-family: var(--primary-font);
}
.main-content {
    background-color: var(--text-light);
    color: var(--secondary-color);
    padding: var(--padding);
    font-family: var(--secondary-font);
}
.main-content h2 {
    color: var(--primary-color);
}
.main-content button {
    background-color: var(--highlight-color);
    color: var(--text-light);
    border: none;
    padding: 10px var(--padding);
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
}
.main-content button:hover {
    background-color: var(--success-color);
}
footer {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    text-align: center;
    padding: var(--padding);
}
footer a {
    color: var(--accent-color);
    text-decoration: none;
}
footer a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
footer .newsletter-button {
    background-color: var(--highlight-color);
    color: var(--text-light);
    border: none;
    padding: 10px var(--padding);
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
}
footer .newsletter-button:hover {
    background-color: var(--success-color);
}
#scrollToTopBtn {
    background-color: var(--primary-color);
    color: var(--text-light);
    border: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#scrollToTopBtn:hover {
    background-color: var(--success-color);
}
